body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: hwb(120 26% 17%);
   
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding does not affect overall width */
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c; /* A green color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button1 {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c; /* A green color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #4cae4c; /* A slightly darker green */
}

a {
    text-decoration: none;
}
.entete {
    background-color:#19d228;
    color: white;
  }